 /* Game Play Page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inbox-container {
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #20afc9;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.email-list {
    border-top: 1px solid #ccc;
}

.email-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.email-item:hover {
    background-color: #ecf0f1;
}

.sender, .subject, .date {
    flex: 1;
    margin: 0 10px;
}

.email-content {
    padding: 20px;
    display: none;
    border-top: 1px solid #ccc;
}

.difficulty-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.difficulty-button {
    background-color: #20afc9;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-input {
    /* display: none; */
    margin-top: 20px;
    text-align: left;
}

.user-input h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.user-input label {
    margin-right: 20px;
    display: inline-block;
}

.user-input input[type="checkbox"],
.user-input input[type="radio"] {
    margin-right: 5px;
}

button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
}

